# postgre
DB_TAG_VERSION=18.2-alpine
DB_NAME=postgreIses
DB_USER=johndoe
DB_PASS=HelloWorldHorse9876*
DB_PORT=5588

# pgadmin
PG_TAG_VERSION=latest
PG_NAME=pgadmin
PG_MAIL=johndoe@example.com
PG_PASS=HelloHorseWorld1234+
PG_PORT=8888